body {
    background-color: #a5e9a9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
}

#taskContainer {
    display: flex;
    gap: 10px;
    border: 4px solid #000;
    width: 96%;
    min-height: 70px;
    position: absolute;
    top: 10%;
}

#blockContainer {
    width: 96%;
    height: 65%;
    position: absolute;
    top: 21%;
}
.block {
    width: 25px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px -20px 10px 10px;
    user-select: none;
    position: absolute;
    font-size: 30px;
}

#checkBtn,
#restartBtn,
#levelBtn,
#nextBtn{
    background-color: #4caf50;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
}

#nextBtn{
    opacity: 0;
}

#checkBtn:active,
#restartBtn:active {
    transform: scale(0.9);
    transition: transform 0.3s;
}

#scoreContainer {
    margin-top: 10px;
    margin-bottom: 10px;
    opacity: 0;
}
.button {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}
.text {
    font-size: 25px;
    position: absolute;
    top: 10px;
    left: 35%;
}
